@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    font-family: 'Rubik', sans-serif;
    transition: all 0.3s ease;
}

:root {
    /* Colors */
    --color-secondary: #FF7A50;
    --color-primary: #363853;
    --color-default: #F9FAFF;
    --color-white: #ffffff;
    --shadow-color-secondary: #ff683833;
    --shadow-color-primary: #36385333;

    /* Font-sizes */
    --size-hero: 66px;
    --size-heading: 36px;
    --size-nav_item: 18px;
    --size-content: 20px;
    --size-offer: 14px;
    --size-cons: 24px;
    --size-logo: 35px;
    --size-small: 12px;
}

body {
    background: var(--color-default);
}

.container {
    max-width: 1440px;
    padding: 0 1%;
    margin: 0 auto;
}

.color_secondary-span {
    color: var(--color-secondary);
}

.same-style_btn {
    font-size: var(--size-offer);
    padding: 15px 25px;
    background: var(--color-secondary);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 12px 40px var(--shadow-color-primary);
}

.same-style_btn:hover {
    background: var(--color-primary);
}

.same-style_btn:active {
    transform: scale(0.9);
}

.same-style_p {
    text-transform: capitalize;
    font-size: var(--size-content);
    color: var(--color-primary);
    margin: 20px 0;
}

.progress_bar {
    position: fixed;
    width: 0px;
    bottom: 0;
    left: 0;
    height: 5px;
    background: var(--color-primary);
    z-index: 99999999999;
}

header {
    width: 100%;
    padding: 20px 0px;
    z-index: 9999;
    background: var(--color-default);
}

header.active {
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 22px 40px var(--shadow-color-primary);
    padding: 15px 0px;
    z-index: 9999;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site_logo {
    font-size: var(--size-logo);
    color: var(--color-primary);
    font-weight: 500;
}

.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav_item {
    position: relative;
}

.nav_item::before {
    content: '';
    position: absolute;
    bottom: -7.5px;
    right: 0px;
    width: 0%;
    height: 0px;
    background: var(--color-secondary);
    opacity: 0;
    transition: all .5s ease;
}

.nav_item.active::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: var(--color-secondary);
    opacity: 1;
}

.nav_link {
    font-weight: 400;
    font-size: var(--size-offer);
    color: var(--color-primary);
}

.nav_item.active .nav_link {
    color: var(--color-secondary);
}

.nav_item.previus .nav_link {
    color: var(--color-default) !important;
}

.header_tools_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header_icon {
    font-size: var(--size-cons);
    color: var(--color-primary);
}

.header_icon_cart {
    position: relative;
}

.offers {
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--color-secondary);
    top: -7.5px;
    right: -10.5px;
    font-size: var(--size-small);
    color: var(--color-default);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    text-align: center;
    opacity: 0;
    transition: 0;
}

.header_icon_burger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7.5px;
    z-index: 99999;
    font-size: var(--size-cons);
    color: var(--color-primary);
    display: none;
}

.header_icon_burger span {
    width: 20px;
    height: 1.5px;
    background: var(--color-primary);
    border-radius: 10px;
}

.first_section_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first_section_left {
    width: 50%;
}

.first_heading {
    font-size: var(--size-hero);
    color: var(--color-primary);
}

.first_btn_wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.first_section_right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_section_right img {
    width: 90%;
}

.first_link-p {
    text-decoration-line: underline;
    color: var(--color-primary);
    cursor: pointer;
}

.first_link-p:hover {
    text-decoration-line: none;
}

.second_section {
    padding: 30px 10px;
    position: relative;
}

.second_heading {
    font-size: var(--size-heading);
    text-transform: capitalize;
    color: var(--color-primary);
    text-align: center;
}

.second_options-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 60vh;
    background: red;
    padding: 10px;
}

.food_option {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 20px;
    gap: 5px;
    width: 15%;
    border-radius: 8px;
    cursor: pointer;
    background: var(--color-white);
    white-space: nowrap;
    box-shadow: 0px 10px 50px var(--shadow-color-primary);
}

.food_option:active {
    transform: scale(.9);
}

.food_option.choosed {
    background: var(--color-secondary);
}

.food_option-icon {
    color: var(--color-primary);
    font-size: var(--size-content);
}

.food_option-content {
    color: var(--color-primary);
    font-size: var(--size-content);
}

.food_option.choosed .food_option-content {
    color: var(--color-default);
    font-size: var(--size-content);
}

.food_option.choosed .food_option-icon {
    font-size: var(--size-content);
    color: var(--color-default);
}

.option_toggle-icon {
    position: absolute;
    top: 105px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.option_toggle-icon:active {
    transform: scale(.9);
}

.option_toggle-icon span {
    width: 40px;
    height: 5px;
    background: var(--color-primary);
}